{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> SKT 보라매사옥 운영현황 </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->        
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <!-- 차트 링크 --> 
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="{% url 'index' %}">TSOP Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'page_hvac' %}">추천운영조합</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'page_cool' %}">냉방기부하율</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'page_temp' %}">실내온도</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'page_elec' %}">전력소비</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'page_peak' %}">전력 Peak(예정)</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'page_occupancy' %}">재실자현황(예정)</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-2 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-3 m-lg-5">
                        <h2 class="fs-4 fw-bold"> 실내 냉방기 부하율 현황 </h2>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th scope="col">층</th>
                              <th scope="col">부하율(%)</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <th scope="row">{{dfs.Zone.0}}</th>
                              <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dfs.부하율.0}}</div> 데이터확인필요
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">{{dfs.Zone.1}}</th>
                              <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{dfs.부하율.1}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dfs.부하율.1}}</div>
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">{{dfs.Zone.2}}</th>
                              <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{dfs.부하율.2}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dfs.부하율.2}}</div>
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">{{dfs.Zone.3}}</th>
                              <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{dfs.부하율.3}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dfs.부하율.3}}</div>
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">{{dfs.Zone.4}}</th>
                              <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dfs.부하율.4}}</div> 데이터확인필요
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">{{dfs.Zone.5}}</th>
                              <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{dfs.부하율.5}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dfs.부하율.5}}</div>
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">{{dfs.Zone.6}}</th>
                              <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{dfs.부하율.6}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dfs.부하율.6}}</div>
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">{{dfs.Zone.7}}</th>
                              <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{dfs.부하율.7}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dfs.부하율.7}}</div>
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">{{dfs.Zone.8}}</th>
                              <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{dfs.부하율.8}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dfs.부하율.8}}</div>
                                  </div>
                              </td>
                            </tr>
                            <tr>
                              <th scope="row">{{dfs.Zone.9}}</th>
                              <td>
                                  <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{dfs.부하율.9}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{dfs.부하율.9}}</div>
                                  </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-building"></i></div>
                                <!-- 부트스트랩 --> 
                                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
                                <h2 class="fs-4 fw-bold">층별 냉방기 부하율</h2>
                                <!-- 차트 -->
                                <canvas id="myChart" width="200" height="200"></canvas>
                                <script> var ctx = document.getElementById('myChart'); 
                                  var myChart = new Chart(ctx, { type: 'bar', 
                                                                data: { labels: ['{{df1.층.0}}', '{{df1.층.1}}', '{{df1.층.2}}', 
                                                                                 '{{df1.층.3}}', '{{df1.층.4}}', '{{df1.층.5}}', ], 
                                                                       datasets: [{ label: '최근2주간 평균부하율(%)',
                                                                                   data: [{{df1.부하율.0}}, {{df1.부하율.1}}, {{df1.부하율.2}}, 
                                                                                          {{df1.부하율.3}}, {{df1.부하율.4}}, {{df1.부하율.5}}, ], 
                                                                                   backgroundColor: ['rgba(255, 99, 132, 0.2)', 
                                                                                                     'rgba(255, 206, 86, 0.2)', 
                                                                                                     'rgba(54, 162, 235, 0.2)', 
                                                                                                     'rgba(75, 192, 192, 0.2)', 
                                                                                                     'rgba(255, 99, 132, 0.2)', 
                                                                                                     'rgba(255, 206, 86, 0.2)', ], 
                                                                                   borderColor: [ 'rgba(255, 99, 132, 1)', 
                                                                                                  'rgba(255, 206, 86, 1)', 
                                                                                                  'rgba(54, 162, 235, 1)', 
                                                                                                  'rgba(75, 192, 192, 1)', 
                                                                                                  'rgba(255, 99, 132, 1)', 
                                                                                                  'rgba(255, 206, 86, 1)', ], borderWidth: 1 }] }, 
                                                                options: { scales: { yAxes: [{ ticks: { beginAtZero: true } }] } } }); </script>
                            </div>
                        </div>
                    </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SUMITS 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts' %}" ></script>    
    </body>
</html>
