{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> SKT 보라매사옥 운영현황 </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->        
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="{% url 'index' %}">TSOP Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'page_hvac' %}">추천운영조합</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'page_cool' %}">냉방기부하율</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'page_temp' %}">실내온도</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'page_elec' %}">전력소비</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'page_peak' %}">전력 Peak(예정)</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'page_occupancy' %}">재실자현황(예정)</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-2 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-3 m-lg-5">
                        <h2 class="fs-4 fw-bold"> 보라매사옥 {{df1.월.0}}월 전력사용 현황 </h2>
                        <p class="fs-6"> 요금제: {{df1.요금제.0}} </p>
                        <p class="fs-6"> Peak전력: {{df1.요금적용전력.0}}kWh </p>
                        <p class="fs-6"> 이번달 오늘까지 누적 사용량 : {{df1.누적사용량.0}} MWh </p>
                        <p class="fs-6"> ['{{df2.시간.0}}', '{{df2.시간.1}}', '{{df2.시간.2}}', '{{df2.시간.3}}', '{{df2.시간.4}}', '{{df2.시간.5}}', '{{df2.시간.6}}', '{{df2.시간.7}}', '{{df2.시간.8}}', '{{df2.시간.9}}', '{{df2.시간.10}}', '{{df2.시간.11}}',] </p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-graph-up"></i></div>
                                <h2 class="fs-4 fw-bold">최근 3시간 전력사용 현황 </h2>
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                                <div>
                                  <canvas id="myChart" width="200" height="150"></canvas>
                                </div>
                                <script>
                                  var ctx = document.getElementById("myChart").getContext("2d");
                                  var myChart = new Chart(ctx, {
                                    type: "line",
                                    data: {
                                      labels: [ '{{df2_index.0}}', '{{df2_index.1}}', '{{df2_index.2}}', '{{df2_index.3}}', '{{df2_index.4}}', '{{df2_index.5}}', 
                                                '{{df2_index.6}}', '{{df2_index.7}}', '{{df2_index.8}}', '{{df2_index.9}}', '{{df2_index.10}}', '{{df2_index.11}}', ]
                                      datasets: [ 
                                        { 
                                          label: "전력량kW",
                                          data: [ {% for i in df2_elec %}{{ i }}, {% endfor %} ], 
                                          backgroundColor: [
                                            "rgba(255, 99, 132, 0.2)",
                                          ],
                                          borderColor: [
                                            "rgba(255, 99, 132, 1)",
                                          ],
                                          lineTension:0.3,
                                          borderWidth: 1,
                                        },
                                        { fill:false,
                                          label: "Peak(kW)",
                                          data: [ {% for i in df2_peak %}{{ i }}, {% endfor %} ], 
                                          backgroundColor: [
                                            "rgba(54, 162, 235, 0.2)",
                                          ],
                                          borderColor: [
                                            "rgba(54, 162, 235, 1)",
                                          ],
                                          lineTension:0.3,
                                          borderWidth: 1,
                                        },
                                      ],
                                    },
                                    options: {
                                      maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                                      scales: {
                                        yAxes: [
                                          {
                                            ticks: {
                                              beginAtZero: false,
                                            },
                                          },
                                        ],
                                      },
                                    },
                                  });
                                </script>
                            </div>
                        </div>
                    </div>
             <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-wallet2"></i></div>
                                <h2 class="fs-4 fw-bold">최근 6개월 전력요금</h2>
                                <p class="mb-0"> HVAC 사용량 포함 AREA차트 </p>
                            </div>
                        </div>
                    </div>
              <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-pie-chart"></i></div>
                                <h2 class="fs-4 fw-bold">용도별 전력사용량</h2>
                                <p class="fs-6"> 이번달 HVAC 사용전력(MWh) </p>
                                <canvas id="chDonut1"></canvas> 
                                <!-- 부트스트랩 --> 
                                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> 
                                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> 
                                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
                                <!-- 차트 --> 
                                    <script> 
                                    // chart colors 
                                    var colors = ['red','skyblue','yellowgreen','#c3e6cb','#dc3545','#6c757d']; 
                                    var donutOptions = { cutoutPercentage: 30, //도넛두께 : 값이 클수록 얇아짐 
                                                        legend: {position:'bottom', padding:5, labels: {pointStyle:'circle', usePointStyle:true}} }; 
                                    // donut 1 
                                    var chDonutData1 = { labels: [ '냉동기', '냉수펌프', '냉각수펌프', '냉각탑' ], 
                                                        datasets: [ { backgroundColor: colors.slice(0,3), 
                                                                     borderWidth: 0, 
                                                                     data: [ {{df5.냉동기.0}}, {{df5.냉수펌프.0}}, {{df5.냉각수펌프.0}}, {{df5.냉각탑.0}} ] } ] };
                                    var chDonut1 = document.getElementById("chDonut1");
                                    if (chDonut1) { new Chart(chDonut1, { type: 'pie', data: chDonutData1, options: donutOptions }); }  
                                </script>
                            </div>
                        </div>
                    </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SUMITS 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts' %}" ></script>
    </body>
</html>
